*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#f3f3f3;
    font-family: Arial, sans-serif;
}

.navbar{
    background-color: #343465;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
    position: fixed;
    width: 100%;
    box-shadow: 0px 6px 8px -2px rgba(130,130,130,0.6);
}

.navbar__brand__img{
    width: 100px;
    height: 35px;
    padding-left: 20px;
}

 .navbar__search{
     width: 60%;
     position: relative;
     display: none;
 }
 
 .navbar__search__input{
     width: 100%;
     border:none;
     outline: none;
     border-radius: 50px;
     padding: 8px;
     padding-left: 40px;
     font-size: 16px;
     font-weight: bolder;
 }

 .navbar__search__input::placeholder{
     color:#2f3d4f;
 }

 .navbar__search__input__icon{
    color:#aebb3f;
    position:absolute;
    left: 0;
    top: 8px;
    padding: 0px 0px 0px 10px;
 }
 
.navbar__user{
    padding-right: 20px;
    color: #ffffff;
}
    
.content{
    display:flex;    
}

.content__sidebar{
    width:200px;
    height: 100%;
    padding: 10px 0;
    box-shadow: 2px 0px 4px 4px rgba(219,216,219,1);
    font-size: 20px;
    background-color:#ffffff;
    z-index:1;
    margin-top: 70px;
    position: fixed;
    color:#87868c;
}
#list__all{
    color:#aebb3f;
    cursor: pointer;
}

.content__sidebar__list__item{
    padding: 5px 10px;
    margin: 25px 10px 10px 10px;
}

.content__sidebar__list__item:hover{
   color: #343465;
}


#list__item__select{
    color:#aebb3f;
    cursor: pointer;
}

#list__item__no__select{
    color:#87868c;
    cursor: pointer;
}

.content__toast{
    visibility: hidden;
    position: fixed;
    z-index: 2;
}

.content__toast__element{
    display: flex;
    align-items: center;
}


.toast_warning{
    visibility: visible;
    margin-top: 70px;
    background-color: #dfa800;
    color:#fff;
    width: 250px;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
    z-index: 2;
    /* margin-left: 200px; */
    text-align: center;
}

.toast_error{
    justify-content: center;
    visibility: visible;
    font-weight: 700;
    margin-top: 80px;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    color: #842029;
    width: 80%;
    padding: 15px;
    position: fixed;
    border-radius: 10px;
    z-index: 2;
    margin-left: 210px;
    text-align: center;
}

.toast_success{
    visibility: visible;
    margin-top: 70px;
    background-color: #9ec038;
    color:#fff;
    width: 250px;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
    z-index: 2;
    /* margin-left: 200px; */
    text-align: center;
}

.iframe {
   width: 100%;
   height: 800px;
   border: 2px solid #333467;
   border-radius: 5px;
}

.content__main{
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    /* margin-left: 200px; */
    margin-top: 100px;    
}

.content_main_list{
    width: 60%;

    margin: 0 auto;
    padding: 0px;
    background-color: #fff;
    box-shadow: 0px 1px 4px 4px rgba(219,216,219,1);
    border-radius: 5px;
}

.content__input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.algorithm{
    width: 80%;
    padding: 8px 15px;
    /* text-transform: uppercase; */
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 14px 2px rgba(52,52,101,0.46); 
    box-shadow: 0px 3px 14px 2px rgba(52,52,101,0.46);
}

#icon_visible{
   display: relative;
}
#icon_select{
    color:#aebb3f;
}
#icon_invisible{
    display: none;
}

ul {
	list-style: none;
}

.title{
	padding: 15px;
	font-size: 24px;
	text-align: center;
    margin-bottom: 30px;
    color: #fff;
    background: #333467;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;	
}

.choose_file{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    background-color: #f3f4f8;;  
    border: 1px dashed #333467;
    border-radius: 5px;
}

.choose_file_Button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #343465;
    color: #f3f3f3;
    margin: 0 auto;
}

.choose_file_text{
    font-size: 14px;
}

.drag-area{
    border: 2px dashed #343465;
    width: 80%;
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.drag-area.active{
    border: 2px solid #343465;
}

.drag-area .icon{
    font-size: 80px;
    color: #343465;
}

.drag-area header{
    font-size:20px;
    font-weight: 500;
    color: #343465;
}

.drag-area span{
    font-size: 20px;
    font-weight: 500;
    color: #343465;
    margin: 10px 0 15px 0;
}

.drag-area button{
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #343465;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.button_content{
    display: flex;
    justify-content: center;
    padding: 15px 20px;
}

.saveButton {
    width: 84%;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #343465;
    color: #f3f3f3;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.nextButton {
    width: 84%;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #343465;
    color: #f3f3f3;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}



/* loader */
.loader {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .loader:before , .loader:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader:after {
    box-shadow: 0 2px 0 #343465 inset;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }