*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#f3f3f3;
    font-family: Arial, sans-serif;
}


#list__all{
    color:#aebb3f;
    cursor: pointer;
}

.content__sidebar__list__item{
    padding: 5px 10px;
    margin: 25px 10px 10px 10px;
}

.content__sidebar__list__item:hover{
   color: #343465;
}


#list__item__select{
    color:#aebb3f;
    cursor: pointer;
}

#list__item__no__select{
    color:#87868c;
    cursor: pointer;
}

.content__toast{
    visibility: hidden;
    position: fixed;
    z-index: 2;
}

.content__toast__element{
    display: flex;
    align-items: center;
}


.toast_warning{
    visibility: visible;
    margin-top: 70px;
    background-color: #dfa800;
    color:#fff;
    width: 250px;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
    z-index: 2;
    /* margin-left: 200px; */
    text-align: center;
}

.toast_error{
    justify-content: center;
    visibility: visible;
    margin-top: 80px;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    color: #842029;
    width: 80%;
    padding: 15px;
    position: fixed;
    border-radius: 10px;
    z-index: 2;
    margin-left: 210px;
    text-align: center;
}

.toast_success{
    visibility: visible;
    margin-top: 70px;
    background-color: #9ec038;
    color:#fff;
    width: 250px;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
    z-index: 2;
    /* margin-left: 200px; */
    text-align: center;
}


.content__main{
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    /* margin-left: 200px; */
    margin-top: 100px;    
}

.content_main_list{
    width: 60%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    background-color: #fff;
    box-shadow: 0px 1px 4px 4px rgba(219,216,219,1);
    border-radius: 5px;
}

.button_content{
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 15px 30px;
}

.saveButton {
    width: 84%;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #343465;
    color: #f3f3f3;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
